// **** ANIMATION **** //

// zerosixthree
=animation($str)

   -webkit-animation: #{$str}
   -moz-animation: #{$str}
   -ms-animation: #{$str}
   -o-animation: #{$str}
   animation: #{$str}

// thought bot
=keyframes($name)
   @-webkit-keyframes #{$name}
      @content
   @-moz-keyframes #{$name}
      @content
   @-ms-keyframes #{$name}
      @content
   @keyframes #{$name}
      @content

// Fade In
+keyframes(fadeIn)

   0%
      opacity: 0
      +transform(scale(0))

   50%
      opacity: 0.5
      +transform(scale(0.6))

   100%
      opacity: 1
      +transform(scale(1))

// Fade In Down

+keyframes(fadeInDown)

   0%
      +transform(translate3d(0,-36%,0))
      opacity: 0

   50%
      opacity: 0.5

   100%
      +transform(translate3d(0))
      opacity: 1


// Fade In Left

+keyframes(fadeInLeft)

   0%
      +transform(translate3d(-36%,0,0))
      opacity: 0

   50%
      opacity: 0.5

   100%
      +transform(translate3d(0))
      opacity: 1

// Fade In Right

+keyframes(fadeInRight)

   0%
      +transform(translate3d(36%,0,0))
      opacity: 0

   50%
      opacity: 0.5

   100%
      +transform(translate3d(0))
      opacity: 1

// Fade In Up

+keyframes(fadeInUp)

   0%
      +transform(translate3d(0,100%,0))
      opacity: 0

   50%

      opacity: 0.45

   100%

      +transform(translate3d(0))

// Shake

+keyframes(shake)

   0%, 100%
      +transform(translateX(0))

   15%, 45%, 75%
      +transform(translateX(20px))

   30%, 60%
      +transform(translateX(-20px))


// Pulse scale

+keyframes(pulseScale)

   0%, 100%
      opacity: 0.6
      +transform(scale(1))

   50%
      opacity: 1
      +transform(scale(1.2))

// Pulse scale

+keyframes(fadeInScaleBounce)

   0%
      opacity: 0
      +transform(scale(1))
   40%
      +transform(scale(1.2))
   60%
      +transform(scale(0.85))

   80%
      +transform(scale(1.04))

   100%
      opacity: 1
      +transform(scale(1))


// Flip in Y // ANIMATE.CSS

+keyframes(flipTop)

   0%
      +transform(perspective(400deg))
      +transform(rotate3d(1,0,0, 90deg))
      opacity: 0

   40%

      +transform(perspective(400deg))
      +transform(rotate3d(1,0,0, -30deg))


   60%

      +transform(perspective(400deg))
      +transform(rotate3d(1,0,0, 15deg))
      opacity: 1

   80%
      +transform(perspective(400deg))
      +transform(rotate3d(1,0,0, -10deg))

   100%

      +transform(perspective(400deg))

// Spin Clockwise

+keyframes(spin)

   0%
      +transform(rotate(0deg))

   100%
      +transform(rotate(360deg))

// Bounce In Down

+keyframes(bounceInDown)

   0%
      +transform(translateY(-70px))
      opacity: 0

   30%, 100%

      +transform(translateY(0))
      opacity: 1

   56%
      +transform(translateY(20px))

   73%
      +transform(translateY(-10px))

   87%
      +transform(translateY(5px))

// Bounce In Up

+keyframes(bounceInUp)

   0%
      +transform(translateY(70px))
      opacity: 0

   30%

      +transform(translateY(0))
      opacity: 1

   56%

      +transform(translateY(-20px))

   73%

      +transform(translateY(10px))

   87%
      +transform(translateY(-5px))

   100%
      +transform(translate(0))


// Bounce In Left

+keyframes(bounceInLeft)

   0%
      opacity: 0
      +transform(translateX(-70px))
   30%
      opacity: 1
      +transform(translateX(20px))
   56%
      +transform(translateX(-12px))

   73%
      +transform(translateX(8px))

   87%
      +transform(translateX(-3px))

   100%
      +transform(translateX(0))

// Bounce In Left

+keyframes(bounceInRight)

   0%
      opacity: 0
      +transform(translateX(70px))
   30%
      opacity: 1
      +transform(translateX(-20px))
   56%
      +transform(translateX(12px))

   73%
      +transform(translateX(-8px))

   87%
      +transform(translateX(3px))

   100%
      +transform(translateX(0))

// Bounce In Left

+keyframes(bounceInScale)

   0%
      opacity: 0
      +transform(scale(0))
   30%

      +transform(scale(1.25))
   56%
      +transform(scale(0.75))
      opacity: 1
   73%
      +transform(scale(1.15))
   87%
      +transform(scale(0.87))
   100%
      +transform(scale(1))

// Fade Out

+keyframes(fadeOut)

   0%
      opacity: 1
      +transform(scale(1))

   50%

      opacity: .5

   100%

      opacity: 0
      +transform(scale(0))

// Fade Out Up

+keyframes(fadeOutUp)

   0%
      opacity: 1
      +transform(translateY(0))

   50%
      opacity: .5

   100%
      opacity: 0
      +transform(translateY(-100%))

// Fade Out Left

+keyframes(fadeOutLeft)

   0%
      opacity: 1
      +transform(translateX(0))

   50%
      opacity: .5

   100%
      opacity: 0
      +transform(translateX(-100%))

// Fade Out Right

+keyframes(fadeOutRight)

   0%
      opacity: 1
      +transform(translateX(0))

   50%
      opacity: .5

   100%
      opacity: 0
      +transform(translateX(100%))

// Fade Out Down

+keyframes(fadeOutDown)

   0%
      opacity: 1
      +transform(translateY(0))

   50%
      opacity: .5

   100%
      opacity: 0
      +transform(translateY(100%))

// Gravitate Y [Inspired by Justin Aguilar. http://www.justinaguilar.com/animations/index.html]
+keyframes(gravitateY)

   0%
      +transform(translateY(0))

   35%
      +transform(translateY(20px))

   75%
      +transform(translateY(-20px))

   100%
      +transform(translateY(0))

// Ghost Material Button

+keyframes(ghostMaterial)

   0%
      opacity: 0
      +transform(scale(2))

   50%

      opacity: .5

   100%
      opacity: 1
      +transform(scale(1))

// EXPAND X

+keyframes(expandX)

   0%
      +transform(scaleX(0))

   50%
      +transform(scaleX(0.5))

   100%
      +transform(scaleX(1))

// EXPAND Y

+keyframes(expandY)

   0%
      +transform(scaleY(0))
   50%
      +transform(scaleY(0.5))
   100%
      +transform(scaleY(1))
