// **** ANIMATION **** //

// zerosixthree
=animation($str)

   -webkit-animation: #{$str}
   -moz-animation: #{$str}
   -ms-animation: #{$str}
   -o-animation: #{$str}
   animation: #{$str}

// thought bot
=keyframes($name)
   @-webkit-keyframes #{$name}
      @content
   @-moz-keyframes #{$name}
      @content
   @-ms-keyframes #{$name}
      @content
   @keyframes #{$name}
      @content

// use of keyframes mixin
+keyframes(bgcolor)
   0%
      background-color: #ffc
   50%
      background-color: #fcf
   100%
      background-color: #ccf


// Fade In
+keyframes(fadeIn)

   0%
      opacity: 0

   50%
      opacity: 0.5

   100%
      opacity: 1



// Fade In Down

+keyframes(fadeInDown)

   0%
      +transform(translate3d(0,-100%,0))
      opacity: 0

   50%
      opacity: 0.5

   100%
      +transform(translate3d(0))
      opacity: 1


// Fade In Left

+keyframes(fadeInLeft)

   0%
      +transform(translate3d(-100%,0,0))
      opacity: 0

   50%
      opacity: 0.5

   100%
      +transform(translate3d(0))
      opacity: 1

// Fade In Right

+keyframes(fadeInRight)

   0%
      +transform(translate3d(100%,0,0))
      opacity: 0

   50%
      opacity: 0.5

   100%
      +transform(translate3d(0))
      opacity: 1

// Fade In Up

+keyframes(fadeInUp)

   0%
      +transform(translate3d(0,-100%,0))
      opacity: 0

   50%

      opacity: 0.45

   100%

      +transform(translate3d(0))


// Bounce

+keyframes(bounce)

   0%, 50%, 80%, 100%
      +transform(translateY(0))

   20%, 70%, 90%
      +transform(translateY(-30px))

+keyframes(shake)

   0%, 50%, 80%, 100%
      +transform(translateX(0))

   20%, 70%, 90%
      +transform(translateX(-30px))
