@import 'base/index'
@import 'smoothie'

.bounce-in
   +animation('bounce-in .78s ease-out forwards')

.fade-in
   +animation('fadeIn 1s linear forwards')

.fade-in-down
   +animation('fadeInDown 1s linear forwards')

.fade-in-up
   +animation('fadeInUp 1s linear forwards')

.fade-in-left
   +animation('fadeInLeft 1s linear forwards')

.fade-in-right
   +animation('fadeInRight 1s linear forwards')

.shake
   +animation('shake .6s ease-out forwards')

.pulse-scale
   +animation('pulseScale 7s ease-out forwards')
body
   background: steelblue
   font-family: $helvetica
   color: white

   .container
      +outer-container
      height: 210px
      background: beige
      +display(flex)
      +align-items(stretch)
      +justify-content(space-around)

      .item
         width: 33%
         margin: 0 22px
         height: auto
         background: palevioletred

         &:first-child

            background: lightsalmon
            // +animation('fadeInLeft 2s 3 ease-in forwards')

         &:last-child

            background: navajowhite
            // +animation('fadeInRight 2s 3 ease-in forwards')

   .square
      width: 200px
      height: 200px
      display: block
      background: navajowhite
      margin: 50px auto

   // buttons
   button
      display: block
      border: none
      padding: 20px 35px
      text-transform: uppercase
      letter-spacing: 1px
      font-family: helvetica
      margin-bottom: 40px
      margin-left: auto
      margin-right: auto
      width: 150px
      cursor: pointer
      border-radius: 5px
      color: white
      font-size: 16px
      background: salmon
      box-shadow: 0 5px 0 darken(salmon, 15%)
      +transition

      &:active,
         outline: 0
         box-shadow: none
      &:focus
         outline: 0



   section
      background: navajowhite
      padding-top: 20px
      +outer-container
      margin-bottom: 30px

      h1
         font-size: 32px
         text-align: center
         margin: 0
         text-shadow: -1px -1px 2px darkslategrey
         letter-spacing: 1.95px

      .square2
         +size(200px)
         background: darkseagreen
         margin-left: auto
         margin-right: auto
         margin-top: 40px

      .belt

         margin-top: 40px
         +display(flex)
         +flex-flow(row wrap)

         button
            width: 20%
            margin-right: 2%
