@import 'base/index'
@import 'smoothie'

.gravitate-x
   +animation('gravitateX 1s infinite linear')

.gravitate-y
   +animation('gravitateY 1s infinite linear')

.fade-out
   +animation('fadeOut 1s linear both')

.fade-out-down
   +animation('fadeOutDown 1s linear both')

.fade-out-left
   +animation('fadeOutLeft 1s linear both')

.fade-out-right
   +animation('fadeOutRight 1s linear both')

.fade-out-up
   +animation('fadeOutUp 1s linear both')

.bounce-in-scale
   +animation('bounceInScale 1s ease-out forwards')

.bounce-in-down
   +animation('bounceInDown 1s ease-out both')

.bounce-in-up
   +animation('bounceInUp 1s linear both')

.bounce-in-left
   +animation('bounceInLeft 1s ease-in-out forwards')

.bounce-in-right
   +animation('bounceInRight 1s ease-in-out forwards')

.flip-top
   +animation('flipTop 1s ease-out forwards')

.fade-in
   +animation('fadeIn 1s linear forwards')

.fade-in-down
   +animation('fadeInDown 1s linear forwards')

.fade-in-up
   +animation('fadeInUp 1s linear forwards')

.fade-in-left
   +animation('fadeInLeft 1s linear forwards')

.fade-in-right
   +animation('fadeInRight 1s linear forwards')

.shake
   +animation('shake 1s ease-out forwards')

.pulse-scale
   +animation('pulseScale 1s ease-out forwards')

.fade-in-scale-bounce
   +animation('fadeInScaleBounce 1s ease-out forwards')

.flip-top
   +animation('flipTop 1s ease-out forwards')

.spin-clockwise
   +animation('spin 1s infinite linear')

.spin-reverse
   +animation('spin 1s infinite reverse linear')

body
   background: steelblue
   font-family: $helvetica
   color: white
   position: relative
   padding-top: 50%

   section
      display: none

   .square
      width: 200px
      height: 200px
      display: block
      +display(flex)
      +align-items(center)
      +justify-content(center)
      -webkit-backface-visibility: hidden
      margin-left: auto
      margin-right: auto

      img

         width: 100%
         height: auto
         display: block

   h1
      font-size: 33px
      text-align: center
      margin-top: 80px
      text-transform: uppercase
      letter-spacing: 1px
      text-shadow: -1px 1px 0 #123

   // buttons
   button
      display: block
      border: none
      padding: 20px 35px
      text-transform: uppercase
      letter-spacing: 1px
      font-family: helvetica
      margin-bottom: 40px
      margin-left: auto
      margin-right: auto
      width: 150px
      cursor: pointer
      border-radius: 5px
      color: white
      font-size: 16px
      background: salmon
      box-shadow: 0 5px 0 darken(salmon, 15%)
      +transition

      &:active,
         outline: 0
         box-shadow: none
      &:focus
         outline: 0

   section
      background: navajowhite
      padding-top: 20px
      +outer-container
      margin-bottom: 30px

      h1
         font-size: 32px
         text-align: center
         margin: 0
         text-shadow: -1px -1px 2px darkslategrey
         letter-spacing: 1.95px

      .square2
         +size(200px)
         background: darkseagreen
         margin-left: auto
         margin-right: auto
         margin-top: 40px

      .belt

         margin-top: 40px
         +display(flex)
         +flex-flow(row wrap)

         button
            width: 20%
            margin-right: 2%
